<app-home></app-home>

<div id="lhs" style="float:left; width: 60%">
  <mwl-calendar-component></mwl-calendar-component>
</div>

<div id="rhs" style="float:right;">
  <h1 style="text-align: center;">Earn Stars!</h1>

  <p>
    <button class="task"></button> Complete 523 essay
    <br>
    <button class="task"></button> Take a campus rec class
    <br>
    <button class="task"></button> Start AI Project
  </p>

  
  <div style="text-align: center; margin-top: 20px;">
    <div style="display: inline-block; border: 2px solid blue; border-radius: 10px; padding: 10px;">
      My Stars: 0
    </div>
  </div>
</div>
<router-outlet />
